:root {
	--header-color: #e2e4eb;
	--green-color: #3cb823;
	--red-color: #f65005;

	--font-xs: 12px;
	--font-sm: 14px;
	--font-md: 16px;
	--font-lg: 18px;
	--font-xl: 20px;
	--font-2xl: 24px;
	--font-4xl: 32px;
}
*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

header {
	position: relative;
	background-color: #e2e4eb;
	width: 100%;
	max-height: 80vh;
	z-index: 10;
}
nav .logo {
	padding: 1rem;
}
nav > .logo {
	font-size: var(--font-2xl);
	color: var(--green-color);
}
.logo p i {
	color: var(--red-color);
}
.carousel {
	position: absolute;
	top: 150px;
	width: 100%;
	object-fit: cover;
	z-index: -1;
}
.menu-hiden {
	display: none;
}
header > nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
}
header > nav > ul > li {
	list-style: none;
	display: flex;
	align-items: center;
	gap: 1rem;
}

header > nav > ul > li > a > img {
	width: 18px;
	height: 18px;
	rotate: 270deg;
}
header > nav > ul > li > a {
	text-decoration: none;
	color: #000;
}
.hero-section {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 2rem;
	padding: 4rem 1rem;
	min-height: 30%;
}
.hero-section > img {
	width: 25px;
	height: 25px;
	background-color: var(--green-color);
	opacity: 0.5;
	border-radius: 100%;
}
.hero-section-content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 1.5rem;
	max-width: 60%;
}
.hero-section-content > h1 {
	font-size: var(--font-2xl);
	background: rgba(255, 255, 255, 0.7);
}
.hero-section-content > .cta {
	display: flex;
	gap: 1rem;
	justify-content: flex-start;
}

.hero-section-content > .cta > a {
	border-radius: 0.5rem;
	padding: 0.5rem 1rem;
	color: #fff;
	font-size: var(--font-xs);
	text-decoration: none;
	border-radius: 20px;
}
.hero-section-content > .cta > a:first-child {
	background-color: var(--green-color);
}
.hero-section-content > .cta > a:last-child {
	background-color: var(--red-color);
}

nav > .icons-bar {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}
nav > .icons-bar > .icon > button {
	border: none;
	background-color: transparent;
}
nav > .icons-bar > .icon {
	background-color: #fff;
	border-radius: 100%;
	padding: 0.5rem;
}
nav > .icons-bar > .icon > img,
nav > .icons-bar > .icon > button > img {
	width: 12px;
	height: 12px;
}

.about {
	padding: 1rem;
	margin-top: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 1rem;
}
.about-content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 1rem;
}
.about-content > h2 {
	font-size: var(--font-xl);
}
.about-content > p {
	font-size: var(--font-xs);
}
.about-content > ul > li > img {
	width: 16px;
	height: 16px;
}
.about-content > ul > li {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 0.5rem;
	list-style: none;
}
.about-content > ul > li > p {
	font-size: var(--font-xs);
}
.btn-green {
	background-color: var(--green-color);
	color: #fff;
	padding: 0.7rem 1rem;
	border-radius: 15px;
	border: none;
	font-size: var(--font-xs);
}
.btn-red {
	background-color: var(--red-color);
	color: #fff;
	padding: 0.7rem 1rem;
	border-radius: 15px;
	border: none;
	font-size: var(--font-xs);
}
#functionality {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	margin-top: 1rem;
}

.divider {
	margin-top: 1rem;

	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}
.divider::before {
	content: "";
	display: block;
	width: 10%;
	height: 2px;
	background-color: var(--green-color);
}

.divider::after {
	content: "";
	display: block;
	width: 15%;
	height: 2px;
	background-color: var(--red-color);
}
.functionality-content {
	text-align: center;
	max-width: 80%;
}
.functionality-content > h2 {
	font-size: var(--font-xl);
}
.functionality-content > p {
	padding-top: 1rem;
	font-size: var(--font-xs);
}
.functionality-card {
	display: flex;
	max-width: 80%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 1rem;
}
.functionality-card > img {
	width: 50px;
	height: 50px;
}
.functionality-card > h3 {
	font-size: var(--font-lg);
}
.functionality-card > p {
	font-size: var(--font-xs);
}

.products {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}
.products-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}
.products-content > h2 {
	font-size: var(--font-xl);
}
.products-content p {
	font-size: var(--font-xs);
	text-align: center;
}
.products-card {
	position: relative;
	margin-top: 1rem;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}
.tag {
	position: absolute;
	top: 20px;
	left: 20px;
	background-color: var(--red-color);
	z-index: 1;
	padding: 0.5rem 1rem;
	margin: 1rem;
	color: #fff;
}
.products-card > img {
	object-fit: cover;
	max-width: 95%;
	max-height: 80%;
}
.products-info > h4 {
	text-align: center;
	font-size: var(--font-lg);
}
.products-price {
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}
.products-price > p {
	font-size: var(--font-xs);
	color: var(--green-color);
}
.products-price > span {
	font-size: var(--font-xs);
	text-decoration: line-through;
}

.products-actions {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}
.products-actions > button > img {
	width: 16px;
	height: 16px;
}
.products-actions button {
	background-color: transparent;
	border: none;
}
.visit-us {
	position: relative;
	margin-top: 1rem;
	background-color: var(--green-color);
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 30vh;
	z-index: -1;
}
.visit-us-content {
	max-width: 80%;
	text-align: center;
}
.visit-us-content h2 {
	font-size: var(--font-xl);
}
.visit-us-content p {
	padding-top: 1rem;
	font-size: var(--font-xs);
}
.visit-us-image > img {
	position: absolute;
	top: 0;
	left: 0;
	object-fit: contain;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.btn-visit-us {
	margin-top: 2rem;
}
.testimonials {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}
.testimonials > h2 {
	font-size: var(--font-xl);
}
.testimonials > p {
	font-size: var(--font-xs);
}

.testimonials-card-content {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	margin-top: 1rem;
	padding: 1rem;
	gap: 1rem;
}
.active-testimonials-card {
	background-color: var(--green-color);
}
.testimonials-card-content > p {
	font-size: var(--font-xs);
}
.testimonials-card-author {
	display: flex;
	align-items: center;
	gap: 1rem;
}
.testimonials-card-author > img {
	width: 30px;
	height: 30px;
	border-radius: 100%;
}
.testimonials-card-author-content > p {
	font-size: var(--font-xs);
}
.testimonials-card-author-content > p:last-child {
	font-size: var(--font-xs);
}
